IMAPAccount mail
Host mail.example.com
User account@example.com
Pass ********
SSLType IMAPS
CertificateFile /etc/ssl/certs/ca-certificates.crt

IMAPStore mail-remote
Account mail

MaildirStore mail-local
Path ~/.local/share/mail/
Inbox ~/.local/share/mail/Inbox

Channel mail
Far :mail-remote:
Near :mail-local:
Patterns *
Create Both
Expunge Both
SyncState *
