* {
	font-family: FontAwesome, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

window#waybar {
	background-color: #2E3440;
	color: #ffffff;
}

window#waybar.hidden {
	opacity: 0.2;
}

#workspaces button {
	padding: 0px 5px;
	background-color: transparent;
	color: #ffffff;
	box-shadow: inset 0 -2px transparent;
	border: none;
	border-radius: 0;
	transition: 0.25s all;
}

#workspaces button:hover {
	background: #3B4252;
	box-shadow: inset 0 -2px #D8DEE9;
}

#workspaces button.focused {
	background-color: #4C566A;
	box-shadow: inset 0 -2px #ECEFF4;
}

#workspaces button.urgent {
	background-color: #BF616A;
}

#mode {
	background-color: #4C566A;
	box-shadow: inset 0 -2px #ECEFF4;
	padding: 0px 8px;
}

#window,
#workspaces {
	margin: 0px 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
	margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
	margin-right: 0;
}

/* Module appearance */
#battery,
#clock,
#cpu,
#custom-kernel,
#idle_inhibitor,
#memory,
#network,
#temperature {
	box-shadow: inset 0 -3px transparent;
}

#idle_inhibitor {
	color: #5E81AC;
	opacity: 0.5;
}

#custom-kernel {
	color: #BF616A;
	box-shadow: inset 0 -2px #BF616A;
}

#network {
	color: #D08770;
	box-shadow: inset 0 -2px #D08770;
}

#cpu {
	color: #EBCB8B;
	box-shadow: inset 0 -2px #EBCB8B;
}

#memory {
	color: #A3BE8C;
	box-shadow: inset 0 -2px #A3BE8C;
}

#temperature {
	color: #B48EAD;
	box-shadow: inset 0 -2px #B48EAD;
}

#battery {
	color: #8FBCBB;
	box-shadow: inset 0 -2px #8FBCBB;
}

#clock {
	color: #88C0D0;
	box-shadow: inset 0 -2px #88C0D0;
}

#tray {
	margin-right: 16px;
}
