[Desktop Entry]
Type=Application
Name=Amfora
GenericName=Gemini Client
Exec=/usr/bin/amfora %u
Terminal=true
MimeType=x-scheme-handler/gemini;text/gemini
