[Desktop Entry]
Type=Application
Name=Amfora
GenericName=Gemini Client
Exec=amfora
# Exec=/usr/local/bin/st -e amfora
Terminal=true
MimeType=x-scheme-handler/gemini;text/gemini
