[Desktop Entry]
Type=Application
Name=Neomutt
GenericName=Mail Client
Exec=/usr/local/bin/st -e neomutt %u
Terminal=true
MimeType=x-scheme-handler/mailto
