[Desktop Entry]
Type=Application
Name=Alacritty
GenericName=Terminal
Categories=System;TerminalEmulator
Exec=alacritty -e %u
Terminal=false
MimeType=x-scheme-handler/terminal
NoDisplay=true
