[Desktop Entry]
Type=Application
Name=st
GenericName=Terminal
Categories=System;TerminalEmulator
Exec=st -e %u
Terminal=false
MimeType=x-scheme-handler/terminal
