[Desktop Entry]
Type=Application
Name=Brave
GenericName=Web Browser
Exec=/usr/bin/brave %u
Terminal=false
MimeType=x-scheme-handler/http;x-scheme-handler/https
