[Desktop Entry]
Type=Application
Name=LibreWolf
GenericName=Web Browser
Exec=librewolf %u
Terminal=false
MimeType=x-scheme-handler/http;x-scheme-handler/https
NoDisplay=true
