[Desktop Entry]
Type=Application
Name=Wine
GenericName=Windows Compatibility Layer
Exec=wine %f
Terminal=false
MimeType=application/exe;application/msi
