[Desktop Entry]
Type=Application
Name=Wine
GenericName=Windows Compatibility Layer
Exec=/usr/bin/wine %f
Terminal=false
MimeType=application/exe;application/msi
