##
# Display configuration
##

# Dell Inc. D3218HN
output HDMI-A-1 resolution 1920x1080 position 0,0

# Acer Technologies K242HL
output DVI-A-1 resolution 1920x1080 position 1920,0

# vim: syntax=swayconfig
