# colors.rc - Color configuration

# color <name> fg bg

color hdrdefault green black
color quoted brightgreen black
color signature brightgreen black
color attachment brightgreen black
color prompt brightmagenta black
color message brightgreen black
color error red black
color indicator black green
color status black green
color tree white black
color normal white black
color markers green black
color search white black
color tilde brightmagenta black
color index green black ~F
color index green black "~N|~O"

color body brightwhite black '\*+[^*]+\*+'
color body brightwhite black '_+[^_]+_+'

# vim: syntax=muttrc
