# inboxes.rc - Inbox configuration

# set mbox_type = "Maildir"
set spoolfile = "+Inbox"
set record = "+Sent"
set trash = "+Junk"
set postponed = "+Drafts"

mailboxes = +Inbox +Sent +Drafts +Junk

# vim: syntax=muttrc
